<div>
  <form
    [formGroup]="registerDeviceForm"
    (ngSubmit)="btnDevicesAgg(registerDeviceForm.value)"
  >
    <!-- <h3>Id</h3>
    <input type="text" formControlName="iplocal" /> -->
    <h2>Type</h2>
    <div class="device-agg-container">
      <select formControlName="type" class="device-agg-slect">
        <option value="Switch">Switch</option>
        <option value="Outlet">Outlet</option>
        <option value="Tira Led">Tira led</option>
      </select>
      <!-- <h3>Location</h3>
      <input type="text" formControlName="location" />
      <h3>Name</h3>
      <input type="text" formControlName="name" /> -->
      <button
        [disabled]="registerDeviceForm.invalid"
        type="submit"
        class="btn-btn-all devices-agg-btn"
      >
        Agg
      </button>
    </div>
  </form>
</div>
