<h2>Device agg</h2>
<div>
  <form
    [formGroup]="registerDeviceForm"
    (ngSubmit)="btnDevicesAgg(registerDeviceForm.value)"
  >
    <!-- <h3>Id</h3>
    <input type="text" formControlName="iplocal" /> -->
    <h3>Type</h3>
    <select formControlName="type">
      <option value="switch">Switch</option>
      <option value="outlet">Outlet</option>
      <option value="Tira led">Tira led</option>
    </select>
    <!-- <h3>Location</h3>
    <input type="text" formControlName="location" />
    <h3>Name</h3>
    <input type="text" formControlName="name" /> -->
    <button [disabled]="registerDeviceForm.invalid" type="submit">Agg</button>
  </form>
</div>
