<div class="register-div">
  <div class="register-title">
    <h1>Register</h1>
  </div>
  <div class="register-form">
    <form
      [formGroup]="registerForm"
      (ngSubmit)="btnRegister(registerForm.value)"
    >
      <h2 class="register-email">Email</h2>
      <input
        formControlName="email"
        type="email"
        placeholder="Personal or valid email"
      />
      <h2 class="register-name">Name</h2>
      <input formControlName="name" type="text" placeholder="Name" />
      <h2 class="register-pss">Password</h2>
      <input
        formControlName="password"
        type="password"
        placeholder="Password valid up 6 characters"
      />
      <h2 class="register-pss2">Password</h2>
      <input
        formControlName="passwordd"
        type="password"
        placeholder="Repeat password"
      />
      <button
        class="btn-btn-all register-btn"
        [disabled]="registerForm.invalid"
        type="submit"
      >
        Register
      </button>
    </form>
  </div>
  <div class="register-login-btn">
    <a routerLink="/login">if you have an account, let's login</a>
  </div>
</div>
