.home-pg {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}

.home-pg-div {
  width: 80%;
  height: 85%;
  margin: auto;
}

.home-pg-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.home-pg-title h3 {
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  width: 60%;
  padding-bottom: 10px;
  color: #3f3d56;
}
