.admin-pg {
  width: 85%;
  margin: 20px auto;
}
.admin-pg-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-pg-routers {
  display: flex;
  margin: 30px 0px;
  justify-content: space-between;
}
