<div class="login-div">
  <div class="login-title">
    <h1>Vamos a iniciar!</h1>
    <p>Ingresa con tu cuenta registrada</p>
  </div>
  <div class="login-form">
    <form [formGroup]="loginForm" (ngSubmit)="btnLogin(loginForm.value)">
      <p class="login-email">Correo:</p>
      <input
        formControlName="email"
        type="email"
        placeholder="Correo valido"
      />
      <p class="login-pss">Contraseña:</p>
      <input
        formControlName="password"
        type="password"
        placeholder="Contraseña mayor a 6 caracteres"
      />
      <button class="login-btn" [disabled]="loginForm.invalid" type="submit">
        Ingresar
      </button>
    </form>
  </div>
  <div class="login-register-btn">
    <a routerLink="/register">Si no tienes cuenta, vamos a crear una</a>
  </div>
  <div class="login-register-btnRC">
    <a (click)="dialogo()">Recuperar contraseña</a>
  </div>
</div>
