<div class="login-div">
  <div class="login-title">
    <h1>Let's get started</h1>
    <p>Sign in with your own account or sign in with Google acount</p>
  </div>
  <div class="login-form">
    <form [formGroup]="loginForm" (ngSubmit)="btnLogin(loginForm.value)">
      <p class="login-email">Email:</p>
      <input
        formControlName="email"
        type="email"
        placeholder="Personal or valid email"
      />
      <p class="login-pss">Password:</p>
      <input
        formControlName="password"
        type="password"
        placeholder="Password valid up 6 characters"
      />
      <button class="login-btn" [disabled]="loginForm.invalid" type="submit">
        Sign In
      </button>
    </form>
  </div>
  <div class="login-register-btn">
    <a routerLink="/register">if you don't have an account, let's create one</a>
  </div>
</div>
