.user-list {
  width: 100vw;
  list-style: none;
}

.user-search-form-container {
  display: flex;
  justify-content: space-between;
}
.user-list-input {
  border: none;
  background-color: rgb(235, 235, 235);
  border-radius: 5px;
  padding: 0px 20px;
  width: 70%;
  height: 40px;
}

.user-search-btn {
  padding: 5px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.user-search-user {
  margin: 15px 0px;
  /* border: 1px solid red; */
}

.user-search-user-h3 {
  margin-top: 10px;
}

/* ------------------------ Despues de buscar usuario -------------------------- */

.user-list-msg {
  margin-top: 10px;
  color: #3f3d56;
}

li {
  /* border: 1px solid black; */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  width: 100%;
  margin: 20px auto;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.user-list-data-btn {
  width: 25%;
}

li .user-list-data {
  color: #3f3d56;
}

.user-list-container {
  height: 60vh;
  overflow-y: auto;
}
