<form
  [formGroup]="userSearchForm"
  (ngSubmit)="userSearchM(userSearchForm.value)"
>
  <div class="user-search-form-container">
    <input
      type="text"
      formControlName="usearch"
      list="users_list"
      class="user-list-input"
    />
    <datalist id="users_list">
      <option *ngFor="let u of userList" value="{{ u.uid }}">
        {{ u.email }}
      </option>
    </datalist>
    <button
      [disabled]="userSearchForm.invalid"
      type="submit"
      class="user-search-btn"
    >
      User search
    </button>
  </div>
</form>

<div *ngIf="userSearch !== undefined; then devices"></div>
<ng-template #devices>
  <div *ngIf="userSearch.devices.length === 0; then nd; else d"></div>
  <ng-template #nd>
    <div class="user-search-user">
      <h2>{{ userSearch.email }}</h2>
      <h3 class="user-search-user-h3">No devices</h3>
    </div>
  </ng-template>
  <ng-template #d>
    <div class="user-search-user">
      <h2>{{ userSearch.email }}</h2>
      <h2>{{ userSearch.name.toUpperCase() }}</h2>
      <div *ngFor="let device of userSearch.devices" class="user-list-devices">
        <h3 class="user-search-user-h3">{{ device.iplocal }}</h3>
        <div>
          <h5>{{ device.type }}</h5>
          <button (click)="press(device.id)">press</button>
        </div>
      </div>
    </div>
  </ng-template>
</ng-template>
