<ul class="user-list">
  <li *ngFor="let user of userList">
    <div class="user-list-name">
      <h3>{{ user.email }}</h3>
      <p>{{ user.name }}</p>
    </div>
    <div
      *ngIf="user.devices.length === 0; then noDivices; else yesDevices"
    ></div>
    <ng-template #noDivices>
      <div class="user-list-devices">
        <h2>No devices</h2>
      </div>
    </ng-template>
    <ng-template #yesDevices>
      <div *ngFor="let device of user.devices" class="user-list-devices">
        <h2>{{ device.iplocal }}</h2>
      </div>
    </ng-template>
  </li>
</ul>
