<p>devices-assign works!</p>
<div>
  <form
    [formGroup]="assignDeviceForm"
    (ngSubmit)="btnAssignDevice(assignDeviceForm.value)"
  >
    <h3>User</h3>
    <input type="text" formControlName="email" list="users_list" />
    <datalist id="users_list">
      <option *ngFor="let u of users" value="{{ u.email }}">
        {{ u.email }}
      </option>
    </datalist>
    <h3>Device type</h3>
    <select formControlName="device">
      <option *ngFor="let d of devices" value="{{ d.id }}">
        {{ d.type }}
      </option>
    </select>
    <h3>Ip Local</h3>
    <input type="text" formControlName="iplocal" />

    <button [disabled]="assignDeviceForm.invalid" type="submit">
      assign device
    </button>
  </form>
</div>
