<div class="recommendations">
  <div class="recommendations-div">
    <div class="recommendations-img">
      <img src="../../../assets//Imgs/recommendationsimg.png" alt="img" />
    </div>
    <div class="recommendations-title">
      <h1>
        Make more than your ever imagine on, or with your
        <strong>home.</strong>
      </h1>
      <p>
        Make sure you are connected to the same Wi-Fi network of your devices.
      </p>
    </div>
    <div class="recommendations-btn">
      <a routerLink="/login">Got it</a>
    </div>
  </div>
</div>
