<div class="recommendations">
  <div class="recommendations-div">
    <div class="recommendations-img">
      <img src="../../../assets//Imgs/recommendationsimg.png" alt="img" />
    </div>
    <div class="recommendations-title">
      <h1>
        Haz mas de lo que imaginaste con tu
        <strong>hogar.</strong>
      </h1>
      <p>
        Asegurate de tener una conexión estable a internet.
      </p>
    </div>
    <div class="btn-all">
      <a routerLink="/login">Entendido</a>
    </div>
  </div>
</div>
