.user-devices-div {
  margin-top: 40px;
}

.user-devices-title p {
  font-size: 12px;
  margin-top: 10px;
  color: rgba(63, 61, 86, 0.5);
}
.user-devices-title h3 {
  color: #3f3d56;
}

.user-devices-list {
  /* border: 1px solid blue; */
  margin-top: 50px;
  display: flex;
}
.user-devices-list-div {
  display: flex;
  flex-direction: row;
  overflow: auto;
  scroll-behavior: smooth;
}

.user-devices-list li {
  padding: 5px;
  /* border: 1px solid red; */
  list-style: none;
  width: 150px;
  height: 250px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-devices-img {
  width: 100px;
  justify-self: center;
  align-self: center;
  /* border: 1px solid pink; */
}
.user-devices-not-devices {
  color: #3f3d56;
}
.user-devices-img img {
  width: 100%;
  justify-self: center;
  align-self: center;
}

.user-devices-list-name {
  margin-top: 10px;
  justify-self: center;
  align-self: center;
}

.user-devices-list-action {
  margin-top: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  /* border: 1px solid green; */
}

.user-devices-list-action .action {
  /* border: 1px solid black; */
  display: flex;
  justify-content: center;
}

.bg {
  width: 70%;
  height: 30px;
  /* background: #000; */
  border: 2px solid black;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;

  /* justify-content: flex-end; */
}

.circle {
  width: 26px;
  border-radius: 50%;
  height: 26px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
  background: black;
  /* display: flex;
  align-self: flex-end; */
  transition: all 0.3s;
  animation: all 0.3s;
}
.circle-active {
  transform: translateX(40px);
  background: green;
}

.circle-color {
  margin-top: 10px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
/* --------------- tira led ------------------*/
.action-tira-led {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  align-items: center;
}
.circle-tira-led {
  margin-top: 5px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.circle-color-tira-led {
  margin-top: 10px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.5);
}
.container-colors {
  display: flex;
  flex-direction: row;
}
/* li {
  border: 1px solid red;
} */

.amarillo {
  background: yellow;
}
.azul {
  background: blue;
}
.rojo {
  background: red;
}
.verde {
  background: green;
}
.rosado {
  background: pink;
}
/* 
cable fibra optica precio colombia */

.circle-color-tl {
  /* margin: 2px; */
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.tlros{
  background-color: rgb(255, 192, 203) !important;
}
.tlazu{
  background-color: rgb(0, 0, 255) !important;
}
.tlarc{
  /* background-color: linear-gradient(red, yellow,blue) !important; */
  background-color: rgb(128, 0, 128) !important;
}
/* .action{
  display: flex;
  flex-direction: row;
  overflow: auto;
  scroll-behavior: smooth;
} */
