<div class="user-devices-div">
  <div class="user-devices-title">
    <h3>Devices</h3>
    <p>Some of you conected devices</p>
  </div>
  <ul class="user-devices-list">
    <div *ngFor="let u of user" class="user-devices-list-div">
      <div *ngIf="u.devices.length === 0; then noDevices; else devices"></div>
      <ng-template #noDevices>
        <p class="user-devices-not-devices">No tiene dispositivos asociados</p>
      </ng-template>
      <ng-template #devices>
        <li *ngFor="let device of u.devices">
          <div class="user-devices-img">
            <img src="../../../assets/Imgs/bombilla.png" alt="bombillo" />
          </div>
          <div class="user-devices-list-name">
            <h2>{{ device.type }}</h2>
          </div>
          <div class="user-devices-list-action">
            <div class="action">
              <div class="circle-color" (click)="clickk(device.iplocal)"></div>
            </div>
          </div>
        </li>
      </ng-template>
    </div>

    <!-- <li *ngFor="let u of user">
      
    </li> -->
  </ul>
</div>
