<p>Listta de dispositivos de este usuraio</p>
<ul>
  <li *ngFor="let u of user">
    <div *ngIf="u.devices.length === 0; then noDevices; else devices"></div>
    <ng-template #noDevices>
      <p>No tiene dispositivos asociados</p>
    </ng-template>
    <ng-template #devices>
      <div *ngFor="let device of u.devices">
        {{ device.id }}
      </div>
    </ng-template>
  </li>
</ul>

<!-- <div *ngIf="user.devices.length === 0; then noDivices; else yesDevices"></div>
<ng-template #noDivices>
  <div class="user-list-devices">
    <h2>No devices</h2>
  </div>
</ng-template>
<ng-template #yesDevices>
  <div *ngFor="let device of user.devices" class="user-list-devices">
    <h2>{{ device.id }}</h2>
  </div>
</ng-template> -->
